
@media(max-width:4096px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }

}
@media(max-width:1300px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:0px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
    #main_containercard{
  	position:relative;
  	left:0px;
  }
}
@media(max-width:1200px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:100px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
   #main_containercard{
  	position:relative;
  	left:0px;
  }
}
@media(max-width:1100px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:100px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
  #main_containercard{
  	position:relative;
  	left:25px;
  }
}
@media(max-width:1000px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:250px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
  #main_containercard{
  	position:relative;
  	left:50px;
  }


}
@media(max-width:900px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:250px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
  #main_containercard{
  	position:relative;
  	left:50px;
  }
}
@media(max-width:800px){


	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:250px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
  #main_containercard{
  	position:relative;
  	left:50px;
  }
}
@media(max-width:700px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:350px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
  #main_containercard{
  	position:relative;
  	left:50px;
  }

}
@media(max-width:600px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:320px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
   #main_containercard{
  	position:relative;
  }

}
@media(max-width:500px){
	.main_container{
		position:relative;
		left:0px;
	}
	
	#AnimateStyle{
	left:320px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
}
@media(max-width:500px){
	.main_container{
		position:relative;
		left:0px;
	}
	#AnimateStyle{
	left:390px;
	border-radius:50%;
	height:50px;width:50px;
	background-color:#4359F6;
	position:relative;
	animation: myanimation 0.5s infinite;
  }
  #main_containercard{
  	position:relative;
  	left:40px;
  }
}